<header>
  <div class="row mb-4 ml-0 mb-0">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light pl-0 pr-0">
        <%= link_to 'Панель управления', root_path, class: 'navbar-brand text-white' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between align-content-center" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= link_to 'Новый пользователь', new_user_path, class: 'btn btn-outline-light btn-sm', title: 'Новый пользователь' %>
          </div>
          <div class="navbar-nav">
            <%= link_to 'Выйти', destroy_user_session_path, data: { confirm: 'Вы уверены, что хотите выйти?' }, class: 'btn btn-outline-light btn-sm', title: 'Выйти' %>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
