<header class="row">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <%= link_to t('app.name'), root_path, class: 'navbar-brand text-white' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between align-content-center" id="navbar">
          <% if policy(User).user_is_admin? %>

            <%= link_to 'Новый пользователь', new_user_path, class: 'btn btn-outline-light btn-sm', title: 'Новый пользователь' %>


            <%= link_to 'Выйти', destroy_user_session_path, data: { confirm: 'Вы уверены, что хотите выйти?' }, class: 'btn btn-outline-light btn-sm', title: 'Выйти' %>

          <% end %>
        </div>
      </nav>
    </div>
</header>
